* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.col-custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    border: none;
}
.btn-custom:hover {
    background-color: #d25a2ece;
}

.btn-primary {
    --bs-btn-color: #F0F0F0;
    --bs-btn-bg: #D25B2E;
    --bs-btn-border-color: #D25B2E;
    --bs-btn-hover-color: #F0F0F0;
    --bs-btn-hover-bg: #D25B2E;
    --bs-btn-hover-border-color: #D25B2E;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #F0F0F0;
    --bs-btn-active-bg: #D25B2E;
    --bs-btn-active-border-color: #D25B2E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F0F0F0;
    --bs-btn-disabled-bg: #D25B2E;
    --bs-btn-disabled-border-color: #D25B2E;
}

.disable {
    pointer-events: none;
    background-color: #F0F0F0;
    color: #F0F0F0;
}